## Settings file was created by plugin OdinsPictureFrame v1.0.1
## Plugin GUID: org.bepinex.plugins.odinspictureframe

[Odins Picture Frame]

## Build Category where Odins Picture Frame is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Odins Picture Frame is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Odins Picture Frame is available.
# Setting type: CraftingTable
# Default value: None
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = None

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Odins Picture Frame
# Setting type: String
# Default value: Wood:4:True,BronzeNails:1:True
Crafting Costs = Wood:4:True,BronzeNails:1:True

