## Settings file was created by plugin RtDItems v0.2.8
## Plugin GUID: Soloredis.RtDItems

[Custom Recipes]

## Enable or Disable. Disabled by default. Set to true to use custom recipe & make sure default is set to false. Place custom recipes within configs: Soloredis/RtDItems/Custom/Recipes. Example JSON can be found within Custom/Recipes or simply copy default and change values.
# Setting type: Boolean
# Default value: false
Enable = false

[Default Recipes]

## Enable or Disable. Enabled by default. Set to false to use custom recipes. Make sure to 
# Setting type: Boolean
# Default value: true
Enable = true

[RtdItems Logging]

## Enables logging.
# Setting type: Boolean
# Default value: false
Enable = false

